@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(222 63% 97%);
  --foreground: hsl(0 0% 11%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 11%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 11%);
  --primary: hsl(22 66% 55%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(50 80% 84%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(227 18% 90%);
  --muted-foreground: hsl(0 0% 22%);
  --accent: hsl(209 100% 80%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(360 100% 69%);
  --border: hsl(0 0% 81%);
  --input: hsl(0 0% 81%);
  --ring: hsl(209 100% 80%);
  --chart-1: hsl(22 66% 55%);
  --chart-2: hsl(270 100% 80%);
  --chart-3: hsl(209 100% 80%);
  --chart-4: hsl(30 100% 80%);
  --chart-5: hsl(90 98% 80%);
  --sidebar: hsl(0 0% 100%);
  --sidebar-foreground: hsl(0 0% 11%);
  --sidebar-primary: hsl(22 66% 55%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(209 100% 80%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(0 0% 81%);
  --sidebar-ring: hsl(209 100% 80%);

  --font-sans: Gabriela, Geist Fallback, ui-sans-serif;
  --font-serif: Gabriela, Geist Fallback, ui-serif;
  --font-mono: Geist Mono, Geist Mono Fallback, ui-monospace;

  --radius: 0rem;
  
  --shadow-2xs: 0px 2px 5px 0px hsl(209 100% 80% / 0.05);
  --shadow-xs: 0px 2px 5px 0px hsl(209 100% 80% / 0.05);
  --shadow-sm: 0px 2px 5px 0px hsl(209 100% 80% / 0.10), 0px 1px 2px -1px hsl(209 100% 80% / 0.10);
  --shadow: 0px 2px 5px 0px hsl(209 100% 80% / 0.10), 0px 1px 2px -1px hsl(209 100% 80% / 0.10);
  --shadow-md: 0px 2px 5px 0px hsl(209 100% 80% / 0.10), 0px 2px 4px -1px hsl(209 100% 80% / 0.10);
  --shadow-lg: 0px 2px 5px 0px hsl(209 100% 80% / 0.10), 0px 4px 6px -1px hsl(209 100% 80% / 0.10);
  --shadow-xl: 0px 2px 5px 0px hsl(209 100% 80% / 0.10), 0px 8px 10px -1px hsl(209 100% 80% / 0.10);
  --shadow-2xl: 0px 2px 5px 0px hsl(209 100% 80% / 0.25);
  
}

.dark {
  --background: hsl(0 0% 11%);
  --foreground: hsl(222 63% 97%);
  --card: hsl(0 0% 17%);
  --card-foreground: hsl(222 63% 97%);
  --popover: hsl(0 0% 17%);
  --popover-foreground: hsl(222 63% 97%);
  --primary: hsl(329 100% 80%);
  --primary-foreground: hsl(0 0% 11%);
  --secondary: hsl(270 100% 80%);
  --secondary-foreground: hsl(0 0% 11%);
  --muted: hsl(0 0% 20%);
  --muted-foreground: hsl(0 0% 81%);
  --accent: hsl(209 100% 80%);
  --accent-foreground: hsl(0 0% 11%);
  --destructive: hsl(360 100% 69%);
  --border: hsl(0 0% 27%);
  --input: hsl(0 0% 27%);
  --ring: hsl(209 100% 80%);
  --chart-1: hsl(329 100% 80%);
  --chart-2: hsl(270 100% 80%);
  --chart-3: hsl(209 100% 80%);
  --chart-4: hsl(30 100% 80%);
  --chart-5: hsl(90 98% 80%);
  --sidebar: hsl(0 0% 17%);
  --sidebar-foreground: hsl(222 63% 97%);
  --sidebar-primary: hsl(329 100% 80%);
  --sidebar-primary-foreground: hsl(0 0% 11%);
  --sidebar-accent: hsl(209 100% 80%);
  --sidebar-accent-foreground: hsl(0 0% 11%);
  --sidebar-border: hsl(0 0% 27%);
  --sidebar-ring: hsl(209 100% 80%);
  
  --shadow-2xs: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.05);
  --shadow-xs: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.05);
  --shadow-sm: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.10), 0px 1px 2px -1px hsl(209 100% 80% / 0.1 / 0.10);
  --shadow: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.10), 0px 1px 2px -1px hsl(209 100% 80% / 0.1 / 0.10);
  --shadow-md: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.10), 0px 2px 4px -1px hsl(209 100% 80% / 0.1 / 0.10);
  --shadow-lg: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.10), 0px 4px 6px -1px hsl(209 100% 80% / 0.1 / 0.10);
  --shadow-xl: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.10), 0px 8px 10px -1px hsl(209 100% 80% / 0.1 / 0.10);
  --shadow-2xl: 0px 1px 2px 0px hsl(209 100% 80% / 0.1 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}